$x-padding: 100px;

.highlight {
  display: inline-block;
  padding: 20px $x-padding;
  border-radius: 10px $x-padding 10px  $x-padding;
}

$hightlightTheme: "autumn";

@import "pygments-css/fruity.css";
